<template>
  <div
    v-if="
      $route.name === 'login' ||
      $route.name === 'auth' ||
      $route.name === 'register' ||
      $route.name === 'reset'
    "
  >
    <RouterView />
  </div>
  <div v-else className="flex w-full h-screen">
    <SideNavbarVue v-if="auth.isLoggedIn" />
    <!-- router view area -->
    <div className="overflow-y-scroll flex-1  min-h-screen bg-white">
      <main className="flex-1 px-3 sm:px-6 py-5">
        <div class="pb-10">
          <RouterView />
        </div>
      </main>
    </div>
  </div>
</template>
<script setup lang="ts">
import { onMounted } from 'vue'

import { RouterView } from 'vue-router'

import SideNavbarVue from './components/global/SideNavbar.vue'

import { useAuthStore } from './stores/auth'

const auth = useAuthStore()
// onMounted
onMounted(() => {
  auth.authState()
})
</script>
