<template>
  <div class="px-5">
    <div>
      <div class="font-bold text-xl">Message Inbox</div>
      <div class="text-md text-gray-600 mb-3">
        These are messages sent by users from the website.
      </div>
      <hr />
    </div>

    <div class="relative overflow-x-auto my-10">
      <div
        v-for="a in 5"
        :key="a"
        class="bg-white border-b my-4 pb-2 justify-between flex items-center"
      >
        <div class="flex items-center">
          <div scope="row" class="font-medium text-gray-900">
            <img src="/images/brand.png" class="w-16" alt="" />
          </div>

          <div>
            <div class="text-sm px-6 text-gray-600">kenhybrid11@gmail.com</div>
            <div class="px-6">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, esse quaerat
              voluptates voluptatibus nulla repellat possimus incidunt omnis, fugit aperiam quisquam
              aspernatur veniam provident voluptate? Autem aliquid voluptatum animi praesentium?
            </div>
            <div class="text-sm px-6 text-gray-600">0788997789</div>
          </div>
        </div>
        <div class="px-6 py-4 float-right">
          <button @click="openDialog(a.toString())" class="bg-green-100 p-3 rounded-full">
            <EyeIcon class="text-green-500 w-5 h-5" />
          </button>
        </div>
      </div>
    </div>

    <div
      v-if="dialog == true"
      @click.self="dialog = !dialog"
      class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70"
    >
      <div
        class="relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto"
      >
        <div class="translate duration-300 h-full">
          <div class="translate duration-300 h-full">
            <div class="bg-white p-12 rounded-lg">
              <div class="flex justify-center items-center py-4">
                <div class="font-bold text-2xl">Delete Image</div>
              </div>
              <p class="text-center text-lg text-gray-600">
                Are you sure you want to delete this image?
              </p>
              <div class="flex border-l-4 p-4 space-x-6 border-orange-500 bg-orange-200 my-3">
                <div>
                  <ExclamationIcon class="text-orange-500 h-6 w-6" />
                </div>
                <div>
                  <div class="text-lg text-orange-500 font-bold">Warning.</div>
                  <p>By deleting this image clients won't have access to it anymore</p>
                </div>
              </div>
              <div class="flex space-x-6 py-4">
                <!-- buttons -->
                <button
                  @click="dialog = false"
                  class="px-5 p-3 w-1/2 rounded-full text-white bg-gray-500 shadow-lg"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { EyeIcon } from '@heroicons/vue/outline'
const dialog = ref<boolean>(false)

function openDialog(a: string) {
  dialog.value = true
}
</script>
