<template name="sidenav">
  <aside
    class="bg-white hidden relative items-center justify-between md:flex flex-col pt-4 border-r h-screen"
  >
    <div>
      <img src="/images/brand.png" class="w-16" alt="" />
    </div>
    <div class="flex flex-col items-center justify-center">
      <div
        @click="navigateTo('/')"
        title="Dashboard"
        :class="
          $route.path == '/'
            ? 'bg-orange-100 p-6 border-r text-orange-500 border-white  '
            : 'p-6 text-black font-bold'
        "
      >
        <ViewGridIcon class="w-5 h-5"></ViewGridIcon>
      </div>

      <div
        @click="navigateTo('/properties/create')"
        title="Add properties and projects"
        :class="
          $route.path == '/properties/create'
            ? 'bg-orange-100 p-6 border-r text-orange-500 border-white  '
            : 'p-6 text-black font-bold'
        "
      >
        <PlusIcon class="w-5 h-5"></PlusIcon>
      </div>
      <div
        @click="navigateTo('/gallery')"
        title="Gallery"
        :class="
          $route.path == '/gallery'
            ? 'bg-orange-100 p-6 border-r text-orange-500 border-white  '
            : 'p-6 text-black font-bold'
        "
      >
        <PhotographIcon class="w-5 h-5"></PhotographIcon>
      </div>
      <div
        @click="navigateTo('/properties')"
        title="Properties"
        :class="
          $route.path == '/properties'
            ? 'bg-orange-100 p-6 border-r text-orange-500 border-white  '
            : 'p-6 text-black font-bold'
        "
      >
        <CollectionIcon class="w-5 h-5"></CollectionIcon>
      </div>
      <!-- <div
        @click="navigateTo('/messages')"
        title="messages"
        :class="
          $route.path == '/messages'
            ? 'bg-orange-100 p-6 border-r text-orange-500 border-white  '
            : 'p-6 text-black font-bold'
        "
      >
        <MailOpenIcon class="w-5 h-5"></MailOpenIcon>
      </div> -->
      <!-- <div
        @click="navigateTo('/about')"
        :class="$route.path == '/about' ? 'bg-white p-4 border-r border-white  ' : 'p-4 text-gray-500 font-bold '"
      >
        <QuestionMarkCircleIcon class="w-5 h-5"></QuestionMarkCircleIcon>
      </div> -->
    </div>
    <div class="flex flex-col items-center justify-center">
      <div
        title="Logout"
        @click="logoutUser"
        class="p-6 bg-orange-600 text-white duration-300 border-r font-bold"
      >
        <LogoutIcon class="w-5 h-5"></LogoutIcon>
      </div>
    </div>
  </aside>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import {
  ViewGridIcon,
  LogoutIcon,
  FolderOpenIcon,
  PhotographIcon,
  CollectionIcon,
  MailOpenIcon,
  PlusIcon
} from '@heroicons/vue/outline'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()

const navigateTo = (e: any) => {
  router.push(e)
}
const authStore = useAuthStore()

const logoutUser = () => {
  authStore.logoutAdmin()
}
</script>
