@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/outfit.ttf');
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
  }
  p {
    @apply text-[18px] text-gray-800;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-green-600;
  }
}
