<template>
  <div class="px-5">
    <div>
      <div class="font-bold text-xl">Create</div>
      <div class="text-md text-gray-600 mb-3">
        Create an apartment, villa, project, bungalow or land.
      </div>
      <hr />
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-4">
        <div class="mb-3">
          <label for="type">Choose type of property to create</label>
          <select
            id="type"
            required
            v-model="type"
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          >
            <option value="" disabled selected class="disabled:text-gray-200">
              e.g Properties
            </option>
            <option value="land">Land</option>
            <option value="project">Project</option>

            <option value="apartments">Apartments</option>
            <option value="villas">Villas</option>
            <option value="bungalows">Bungalows</option>
          </select>
        </div>
      </div>
      <hr />
      <div>
        <!-- display forms -->
        <div class="my-4 text-2xl font-bold capitalize">{{ type }}</div>

        <CreateLand v-if="type == 'land'" />
        <!-- project -->
        <CreateProject v-if="type == 'project'" />
        <!-- apartments -->
        <CreateApartments v-if="type == 'apartments'" />
        <!-- villas -->
        <CreateVillas v-if="type == 'villas'" />
        <!-- bungalows -->
        <CreateBungalows v-if="type == 'bungalows'" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import CreateLand from '@/components/properties/CreateLand.vue'
import CreateProject from '@/components/properties/CreateProject.vue'
import CreateApartments from '@/components/properties/CreateApartments.vue'
import CreateVillas from '@/components/properties/CreateVillas.vue'
import CreateBungalows from '@/components/properties/CreateBungalows.vue'

const type = ref('')
</script>
