<template>
  <div class="px-5">
    <div>
      <div class="font-bold text-xl">Properties Listing</div>
      <div class="text-md text-gray-600 mb-3">
        Here, you can create, view and delete properties.
      </div>
    </div>

    <div class="flex items-center mt-10">
      <button
        class="w-1/4 text-center p-3 duration-300"
        :class="
          activeTab == 1
            ? 'font-bold bg-orange-100 border-b-4 border-orange-500'
            : 'border-b-4 border-gray-100'
        "
        @click="setActiveTab(1)"
      >
        Apartments
      </button>
      <button
        class="w-1/4 text-center p-3 duration-300"
        :class="
          activeTab == 2
            ? 'font-bold bg-orange-100 border-b-4 border-orange-500'
            : 'border-b-4 border-gray-100'
        "
        @click="setActiveTab(2)"
      >
        Villas & Cottages
      </button>
      <button
        class="w-1/4 text-center p-3 duration-300"
        :class="
          activeTab == 3
            ? 'font-bold bg-orange-100 border-b-4 border-orange-500'
            : 'border-b-4 border-gray-100'
        "
        @click="setActiveTab(3)"
      >
        Land
      </button>
      <button
        class="w-1/4 text-center p-3 duration-300"
        :class="
          activeTab == 4
            ? 'font-bold bg-orange-100 border-b-4 border-orange-500'
            : 'border-b-4 border-gray-100'
        "
        @click="setActiveTab(4)"
      >
        Bungalows
      </button>
      <button
        class="w-1/4 text-center p-3 duration-300"
        :class="
          activeTab == 5
            ? 'font-bold bg-orange-100 border-b-4 border-orange-500'
            : 'border-b-4 border-gray-100'
        "
        @click="setActiveTab(5)"
      >
        Projects
      </button>
    </div>

    <!-- display -->
    <div v-if="activeTab == 1" class="duration-300">
      <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody>
            <tr v-for="a in store.apartments" :key="a.id" class="bg-white border-b">
              <th scope="row" class="font-medium text-gray-900">
                <img :src="a.images[0]" class="w-16" alt="" />
              </th>
              <th scope="row" class="px-6 py-2 font-medium text-gray-900">{{ a.title }}</th>
              <td class="px-6 py-4">{{ a.location }}</td>
              <td class="px-6 py-4 font-bold text-black">1.5 M</td>

              <td class="px-6 py-4">{{ a.description.substring(0, 180) }}</td>
              <td class="px-6 py-4">{{ a.price }}</td>
              <td class="px-6 py-4 float-right">
                <button @click="openDialog(a)" class="bg-red-100 text-red-500 p-3 rounded-full">
                  <TrashIcon class="'text-red-500 w-5 h-5" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-if="activeTab == 2" class="duration-300">
      <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody>
            <tr v-for="a in store.villas" :key="a.id" class="bg-white border-b">
              <td scope="row" class="px-6 py-2 font-medium text-gray-900">{{ a.title }}e</td>
              <td class="px-6 py-4">{{ a.location }}</td>
              <td class="px-6 py-4 font-bold text-black">{{ a.price }}</td>

              <td class="px-6 py-4">{{ a.description.substring(0, 180) }} ...</td>

              <td class="px-6 py-4 float-right">
                <button @click="openDialog(a)" class="bg-red-100 text-red-500 p-3 rounded-full">
                  <TrashIcon class="'text-red-500 w-5 h-5" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-if="activeTab == 3" class="duration-300">
      <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody>
            <tr v-for="l in store.lands" :key="l.id" class="bg-white border-b">
              <th scope="row" class="font-medium text-gray-900">
                <img :src="l.images[0]" class="w-16" alt="" />
              </th>
              <th scope="row" class="px-6 py-2 font-medium text-gray-900">{{ l.size }}</th>
              <td class="px-6 py-4">{{ l.location }}</td>
              <td class="px-6 py-4 font-bold text-black">{{ l.price }}</td>

              <td class="px-6 py-4">{{ l.description.substring(0, 180) }}...</td>
              <td class="px-6 py-4 float-right">
                <button @click="openDialog(l)" class="bg-red-100 text-red-500 p-3 rounded-full">
                  <TrashIcon class="'text-red-500 w-5 h-5" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-if="activeTab == 4" class="duration-300">
      <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody>
            <tr v-for="a in store.bungalows" :key="a.id" class="bg-white border-b">
              <!-- <th scope="row" class="font-medium text-gray-900">
                <img :src="a.images[0]" class="w-16" alt="" />
              </th> -->
              <td scope="row" class="px-6 py-2 font-medium text-gray-900">{{ a.title }}e</td>
              <td class="px-6 py-4">{{ a.location }}</td>
              <td class="px-6 py-4 font-bold text-black">{{ a.price }}</td>

              <td class="px-6 py-4">{{ a.description.substring(0, 180) }}</td>

              <td class="px-6 py-4 float-right">
                <button @click="openDialog(a)" class="bg-red-100 text-red-500 p-3 rounded-full">
                  <TrashIcon class="'text-red-500 w-5 h-5" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-if="activeTab == 5" class="duration-300">
      <div class="relative overflow-x-auto my-10">
        <table class="w-full text-sm text-left text-gray-500">
          <tbody>
            <tr v-for="a in store.projects" :key="a.id" class="bg-white border-b">
              <!-- <tr scope="row" class="font-medium text-gray-900">
                <img :src="a.images[0]" class="w-16 mx-auto my-auto" alt="" />
              </tr> -->
              <th scope="row" class="px-6 py-2 font-medium text-gray-900">{{ a.title }}e</th>
              <td class="px-6 py-4">{{ a.location }}</td>
              <!-- <td class="px-6 py-4 font-bold text-black">{{ a.price }}</td> -->

              <td class="px-6 py-4">{{ a.description.substring(0, 180) }}</td>

              <td class="px-6 py-4 float-right">
                <button @click="openDialog(a)" class="bg-red-100 text-red-500 p-3 rounded-full">
                  <TrashIcon class="'text-red-500 w-5 h-5" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="dialog == true"
      @click.self="dialog = !dialog"
      class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70"
    >
      <div
        class="relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto"
      >
        <div class="translate duration-300 h-full">
          <div class="translate duration-300 h-full">
            <div class="bg-white p-12 rounded-lg">
              <div class="flex justify-center items-center py-4">
                <div class="font-bold text-2xl">Delete Property</div>
              </div>
              <p class="text-center text-lg text-gray-600">
                Are you sure you want to delete this property?
              </p>
              <div class="flex border-l-4 p-4 space-x-6 border-orange-500 bg-orange-200 my-3">
                <div>
                  <ExclamationIcon class="text-orange-500 h-6 w-6" />
                </div>
                <div>
                  <div class="text-lg text-orange-500 font-bold">Warning.</div>
                  <p>By deleting this property clients won't have access to it anymore</p>
                  <p>{{ active.id }}</p>
                </div>
              </div>
              <div class="flex space-x-6 py-4">
                <!-- buttons -->
                <button
                  @click="dialog = false"
                  class="px-5 p-3 w-1/2 rounded-full text-white bg-gray-500 shadow-lg"
                >
                  Cancel
                </button>
                <button
                  @click="deleteProperty(active)"
                  class="px-5 p-3 text-white w-1/2 rounded-full bg-red-500 hover:animate-pulse ease-in-out duration-200 shadow-lg"
                >
                  Delete property
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { TrashIcon, ExclamationIcon } from '@heroicons/vue/outline'
import { useProjectStore } from '@/stores/projects'
import { onMounted, ref } from 'vue'
const activeTab = ref<number>(1)
const dialog = ref<boolean>(false)
const active = ref<any>({})

const openDialog = (args: any) => {
  dialog.value = true
  active.value = args
}

const store = useProjectStore()
onMounted(() => {
  store.loadLands()
  store.loadApartments()
  store.loadProjects()
  store.loadBungalows()
  store.loadVillas()
})
// deleteLands
function setActiveTab(params: number) {
  activeTab.value = params
}

async function deleteProperty(args: any) {
  switch (args.type) {
    case 'land':
      await store.deleteLands({
        id: args.id,
        imagerefs: args.imagerefs
      })
      break
    case 'apartment':
      await store.deleteApartments({
        id: args.id,
        imagerefs: args.imagerefs
      })
      break
    case 'bungalow':
      await store.deleteBungalow({
        id: args.id,
        imagerefs: args.imagerefs
      })
      break
    case 'project':
      await store.deleteProject({
        id: args.id,
        imagerefs: args.imagerefs
      })
      break
    case 'villa':
      await store.deleteVilla({
        id: args.id,
        imagerefs: args.imagerefs
      })
      break

    default:
      alert('Default case')
  }

  dialog.value = false
}
</script>
