<script setup lang="ts">
import { onMounted } from 'vue'
import { useProjectStore } from '@/stores/projects'
const store = useProjectStore()
onMounted(() => {
  // store.loadLands()
  // store.loadApartments()
  // store.loadProjects()
  // store.loadBungalows()
  // store.loadVillas()
})
</script>

<template>
  <div class="p-4">
    <h1 class="text-3xl font-bold underline">Dashboard</h1>
    <div class="text-xl text-gray-600">Welcome back</div>
  </div>
</template>
