<template>
  <div class="px-5">
    <div>
      <div class="font-bold text-xl">Gallery Listing</div>
      <div class="text-md text-gray-600 mb-3">
        Here, you can create, view and delete properties.
      </div>
      <div class="flex justify-start my-3">
        <button @click="addDialog = true" class="p-3 bg-orange-500 text-white rounded-md">
          Add a picture
        </button>
      </div>
      <hr />
    </div>

    <!-- display -->

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-10">
      <div v-for="g in store.gallery" :key="g.id" class="w-full bg-no-repeat h-auto">
        <img @click="openDialog(g)" :src="g.image" class="object-cover h-[400px] w-full" alt="" />
      </div>
    </div>

    <div
      v-if="dialog == true"
      @click.self="dialog = !dialog"
      class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70"
    >
      <div
        class="relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto"
      >
        <div class="translate duration-300 h-full">
          <div class="translate duration-300 h-full">
            <div class="bg-white p-12 rounded-lg">
              <div class="flex justify-center items-center py-4">
                <div class="font-bold text-2xl">Delete Image</div>
              </div>
              <p class="text-center text-lg text-gray-600">
                Are you sure you want to delete this image?
              </p>
              <div class="flex border-l-4 p-4 space-x-6 border-orange-500 bg-orange-200 my-3">
                <div>
                  <div class="text-lg text-orange-500 font-bold">Warning.</div>
                  <p>By deleting this image clients won't have access to it anymore</p>
                </div>
              </div>
              <div class="flex space-x-6 py-4">
                <!-- buttons -->
                <button
                  @click="dialog = false"
                  class="px-5 p-3 w-1/2 rounded-full text-white bg-gray-500 shadow-lg"
                >
                  Cancel
                </button>
                <button
                  @click="deleteImage(active)"
                  class="px-5 p-3 text-white w-1/2 rounded-full bg-red-500 hover:animate-pulse ease-in-out duration-200 shadow-lg"
                >
                  Delete image
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="addDialog == true"
      @click.self="addDialog = !addDialog"
      class="justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none bg-neutral-800/70"
    >
      <div
        class="relative w-full md:w-4/6 lg:w-3/6 xl:w-2/5 my-6 mx-auto h-full lg:h-auto md:h-auto"
      >
        <div class="translate duration-300 h-full">
          <div class="translate duration-300 h-full">
            <div class="bg-white p-12 rounded-lg">
              <div class="flex justify-center items-center py-4">
                <div class="font-bold text-2xl">Add Image</div>
              </div>
              <form ref="f" class="my-4" @submit.prevent="uploadGallaryImage">
                <div class="mb-2">
                  <label for="image" class="text-sm">Image</label>
                  <input
                    type="file"
                    required
                    @change="addImage"
                    id="image"
                    class="w-full p-3 border outline-none focus:outline-none mt-2 rounded-md"
                  />
                </div>
                <div class="mb-2">
                  <label for="desc" class="text-sm">Description</label>
                  <input
                    type="text"
                    placeholder="e.g Construction going on"
                    required
                    v-model="form.description"
                    id="desc"
                    class="w-full p-3 border outline-none focus:outline-none mt-2 rounded-md"
                  />
                </div>

                <div class="mb-2">
                  <button
                    v-if="store.isLoading"
                    disabled
                    class="w-full p-3 bg-orange-500 mt-6 rounded-md font-bold text-white"
                  >
                    loading
                  </button>
                  <button
                    v-else
                    type="submit"
                    class="w-full p-3 bg-orange-500 mt-6 rounded-md font-bold text-white"
                  >
                    Upload
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref, onMounted } from 'vue'

import { useProjectStore } from '@/stores/projects'

const store = useProjectStore()
const form = reactive({
  image: '',
  description: ''
})

onMounted(() => {
  store.loadGallery()
})
const addDialog = ref(false)
const dialog = ref(false)
const active = ref({})

const f = ref()
const addImage = (e: any) => {
  form.image = e.target.files[0]
}

function openDialog(args: any) {
  dialog.value = true
  active.value = args
}

async function uploadGallaryImage() {
  await store.createGallery(form)
  await f.value?.reset()
  addDialog.value = false
}

async function deleteImage(args: any) {
  await store.deleteGallery({
    id: args.id,
    imagerefs: args.imagerefs
  })
  console.log(args)

  dialog.value = false
}
</script>
