<template>
  <div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <div class="my-auto px-5 md:px-36">
      <h1 class="text-center text-3xl font-semibold text-[#212121]">Sign up to Jisakie.io</h1>
      <p class="text-center my-1.5">Are you a real estate owner or a handyman service provider?</p>

      <div class="my-10">
        <div
          @click="setType('realestateowner')"
          class="border-[3px] shadow-sm p-3 group mb-6 rounded-lg flex justify-between"
          :class="type == 'realestateowner' ? 'border-purple-500' : 'border-gray-200'"
        >
          <div class="flex items-center space-x-4">
            <div class="rounded-full bg-gray-100 h-12 w-12 flex items-center justify-center">
              <OfficeBuildingIcon class="w-6 h-6 text-gray-600" />
            </div>
            <div>
              <div class="text-[18px]">Real estate owner</div>
              <p class="text-[14px] text-gray-600">I want to upload properties to this platform</p>
            </div>
          </div>
          <div class="mx-1 my-1">
            <input
              type="radio"
              name=""
              :checked="type == 'realestateowner'"
              class="accent-purple-500 p-2"
              id=""
            />
          </div>
        </div>
        <div
          @click="setType('handyman')"
          class="border-[3px] shadow-sm p-3 group mb-6 rounded-lg flex justify-between"
          :class="type == 'handyman' ? 'border-purple-500' : 'border-gray-200'"
        >
          <div class="flex items-center space-x-4">
            <div class="rounded-full bg-gray-100 h-12 w-12 flex items-center justify-center">
              <CogIcon class="w-6 h-6 text-gray-600" />
            </div>
            <div>
              <div class="text-[18px]">Handy man</div>
              <p class="text-[14px] text-gray-600">
                I want to provide services to clients on this platform
              </p>
            </div>
          </div>
          <div class="mx-1 my-1">
            <input
              type="radio"
              name=""
              :checked="type == 'handyman'"
              class="accent-purple-500 p-2"
              id=""
            />
          </div>
        </div>
      </div>
      <p class="text-center my-1.5">
        Already have an account?
        <RouterLink to="/auth/login" class="text-purple-500 font-semibold">Log in</RouterLink>
      </p>
    </div>
    <div class="bg-gray-100 py-20 px-24">
      <div class="text-2xl font-semibold text-gray-700">
        Jisakie.io is the best platform for rental property search and handy man services. We ensure
        our clients experience a smooth ride in the carousel of searching for rental property and
        handy man services in their locality.
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { CheckCircleIcon, CogIcon, OfficeBuildingIcon } from '@heroicons/vue/outline'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const active = ref<boolean>(true)
const type = ref<string>('')

const router = useRouter()

const setType = (args: string) => {
  type.value = args
  setTimeout(() => {
    router.push('/auth/register/' + args)
  }, 1500)
}
</script>
