<template>
  <div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <div class="my-auto px-5 md:px-36">
      <form action="" @submit.prevent="">
        <div class="mb-10">
          <h3 class="text-center font-bold text-4xl">Sign In to your dashboard</h3>
          <p class="text-center text-gray-600 text-md">welcome back to Jisakie.io</p>
        </div>

        <div class="mb-2">
          <label for="email" class="text-md">Email</label>
          <input
            type="email"
            v-model="email"
            required
            placeholder="johndoe@gmail.com"
            id="email"
            class="w-full p-4 border outline-none focus:outline-none mt-2 rounded-md"
          />
        </div>
        <div class="mb-2">
          <label for="password" class="text-md">Password</label>
          <input
            type="password"
            v-model="password"
            placeholder="*********"
            required
            id="password"
            class="w-full p-4 border outline-none focus:outline-none mt-2 rounded-md"
          />
        </div>

        <div class="mb-2">
          <!-- <button
            v-if="authStore.isLoading"
            disabled
            class="w-full p-4 bg-orange-500 mt-6 rounded-md font-bold text-white"
          >
            loading
          </button> -->
          <button
            type="submit"
            class="w-full p-4 bg-purple-500 mt-6 rounded-md font-bold text-white"
          >
            Sing In
          </button>
        </div>
      </form>
      <p class="text-center py-5">
        You don't have an account yet?
        <RouterLink to="/auth" class="text-purple-500 font-semibold">Sign Up</RouterLink>
      </p>
      <!-- <div class="my-3 flex justify-between">
        <div></div>
        <div>
          <RouterLink to="/auth/login" class="text-orange-500 underline">Go back</RouterLink>
        </div>
      </div> -->
    </div>

    <div class="bg-gray-100 py-20 px-24">
      <div class="text-2xl font-semibold text-gray-700">
        Welcome back to jisakie.io property search and handy man services platform
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { CheckCircleIcon, CogIcon, OfficeBuildingIcon } from '@heroicons/vue/outline'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const active = ref<boolean>(true)
const type = ref<string>('')

const router = useRouter()

const setType = (args: string) => {
  type.value = args
  setTimeout(() => {
    router.push('/auth/register/' + args)
  }, 2000)
}
</script>
