<template>
  <div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <div class="my-auto px-5 md:px-36">
      <form action="" @submit.prevent="">
        <div class="mb-10">
          <h3 class="text-center font-bold text-4xl">
            Sign Up as a
            <span v-if="$route.params.type == 'realestateowner'"> Real estate owner</span>
            <span v-if="$route.params.type == 'handyman'"> Handy man</span>
          </h3>
          <p class="text-center text-gray-600 text-md">set up an account with us immmediately</p>
        </div>
        <div class="mb-2">
          <label for="Username" class="text-md">Username</label>
          <input
            type="text"
            v-model="username"
            required
            id="Username"
            placeholder="John Doe"
            class="w-full p-4 border outline-none focus:outline-none mt-2 rounded-md"
          />
        </div>
        <div class="mb-2">
          <label for="email" class="text-md">Email</label>
          <input
            type="email"
            v-model="email"
            required
            placeholder="johndoe@gmail.com"
            id="email"
            class="w-full p-4 border outline-none focus:outline-none mt-2 rounded-md"
          />
        </div>
        <div class="mb-2">
          <label for="password" class="text-md">Password</label>
          <input
            type="password"
            v-model="password"
            placeholder="*********"
            required
            id="password"
            class="w-full p-4 border outline-none focus:outline-none mt-2 rounded-md"
          />
        </div>

        <div class="mb-2">
          <!-- <button
            v-if="authStore.isLoading"
            disabled
            class="w-full p-4 bg-orange-500 mt-6 rounded-md font-bold text-white"
          >
            loading
          </button> -->
          <button
            type="submit"
            class="w-full p-4 bg-purple-500 mt-6 rounded-md font-bold text-white"
          >
            Sign Up
          </button>
        </div>
      </form>
      <!-- <div class="my-3 flex justify-between">
        <div></div>
        <div>
          <RouterLink to="/auth/login" class="text-orange-500 underline">Go back</RouterLink>
        </div>
      </div> -->
      <p class="text-center py-5">
        Already have an account?
        <RouterLink to="/auth/login" class="text-purple-500 font-semibold">Login</RouterLink>
      </p>
    </div>
    <div class="bg-gray-100 py-20 px-24">
      <div class="text-2xl font-semibold text-gray-700">
        Join our platform to Monitor, Upload, Transact and seal deals with Jisakie.io property
        search and handy man services platform. We ensure our clients meet the best resources and
        services available.
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { CheckCircleIcon, CogIcon, OfficeBuildingIcon } from '@heroicons/vue/outline'
import { ref } from 'vue'

const active = ref<boolean>(true)
const type = ref<string>('')

const setType = (args: string) => {
  type.value = args
}
</script>
