<template name="component-login">
  <div>
    <div class="flex h-screen">
      <div class="bg-white w-full md:w-2/3 md:p-24 px-6 my-auto">
        <!-- <div
          v-if="authStore.authError.state == true"
          class="bg-red-100 text-red-500 text-center p-3 mb-3 rounded-md"
        >
          {{ authStore.authError.message }}
        </div> -->
        <form action="" @submit.prevent="loginUser">
          <div class="mb-10">
            <h3 class="text-center font-bold text-4xl">Reset</h3>
            <p class="text-center text-gray-600 text-sm">
              we will send you a password reset email immediately
            </p>
          </div>
          <div class="mb-2">
            <label for="email" class="text-sm">Email</label>
            <input
              type="email"
              v-model="email"
              required
              id="email"
              class="w-full p-3 border outline-none focus:outline-none mt-2 rounded-md"
            />
          </div>

          <div class="mb-2">
            <button
              v-if="authStore.isLoading"
              disabled
              class="w-full p-3 bg-orange-500 mt-6 rounded-md font-bold text-white"
            >
              loading
            </button>
            <button
              v-else
              type="submit"
              class="w-full p-3 bg-orange-500 mt-6 rounded-md font-bold text-white"
            >
              Reset
            </button>
          </div>
        </form>
        <div class="my-3 flex justify-between">
          <div></div>
          <div>
            <RouterLink to="/auth/login" class="text-orange-500 underline">Go back</RouterLink>
          </div>
        </div>
      </div>
      <div class="bg-orange-100 hidden md:flex md:w-1/3"></div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref } from 'vue'

const authStore = useAuthStore()

const email = ref<string>('')

const loginUser = async () => {
  await authStore.resetAdmin({
    email: email.value
  })
}
</script>
