<template>
  <div>
    <form ref="f" class="my-4" @submit.prevent="createLand">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-4">
        <div class="mb-3">
          <label for="size">Size</label>
          <input
            type="text"
            id="size"
            v-model="form.size"
            placeholder="e.g 0.25 acres"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Price">Price</label>
          <input
            type="text"
            v-model="form.price"
            id="Price"
            placeholder="e.g 1.5 M"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="location">Location</label>
          <input
            type="text"
            v-model="form.location"
            id="location"
            placeholder="e.g Diani"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="image">Images</label>
          <input
            type="file"
            @change="addImage"
            multiple
            id="image"
            placeholder="e.g A short and comprehensive description of its location"
            required
            class="w-full p-3.5 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="Description">Description</label>
        <textarea
          id="Description"
          v-model="form.description"
          placeholder="e.g A short and comprehensive description of its location"
          required
          class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none resize-none"
          rows="6"
        ></textarea>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <button
          :disabled="store.isLoading == true"
          class="w-full p-3.5 bg-orange-500 rounded-md text-white"
          :class="store.isLoading == true ? 'disabled:bg-gray-400' : ''"
        >
          <span v-if="store.isLoading != true">Upload land</span>
          <span v-else>loading...</span>
        </button>
      </div>
    </form>
  </div>
</template>
<script setup lang="ts">
import { reactive, ref } from 'vue'

import { useProjectStore } from '@/stores/projects'

const store = useProjectStore()
const form = reactive({
  images: [],
  size: '',
  price: '',
  location: '',
  type: 'land',
  description: ''
})

const f = ref<HTMLInputElement | null>(null)
const addImage = (e: any) => {
  form.images = e.target.files
}
function ClearForm() {
  form.size = ''

  form.location = ''
  form.price = ''
  form.description = ''
}

async function createLand() {
  await store.createLand(form)
  ClearForm()
}
</script>
