<template>
  <div>
    <form ref="f" class="my-4" @submit.prevent="createVilla">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-4">
        <div class="mb-3">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            v-model="form.title"
            placeholder="e.g The Aerial kinondo"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Features">Features</label>
          <input
            type="text"
            id="Features"
            v-model="form.features"
            placeholder="e.g  24-h security, swimming pools, gazibo"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Price">Price</label>
          <input
            type="text"
            id="Price"
            v-model="form.price"
            placeholder="e.g 2.4 M"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="location">Location</label>
          <input
            type="text"
            id="location"
            v-model="form.location"
            placeholder="e.g Diani"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Bedrooms">Bedrooms</label>
          <input
            type="text"
            id="Bedrooms"
            v-model="form.bedroom"
            placeholder="e.g 3 Bedroms"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Bathroom">Bathrooms</label>
          <input
            type="text"
            id="Bathroom"
            v-model="form.bathroom"
            placeholder="e.g 2 Bathrooms"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Kitchen">Kitchen</label>
          <input
            type="text"
            id="Kitchen"
            v-model="form.kitchen"
            placeholder="e.g 1 Kitchen"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
        <div class="mb-3">
          <label for="Squarefeet">Square Meters</label>
          <input
            type="text"
            v-model="form.squaremeters"
            id="Squarefeet"
            placeholder="e.g 300 square meters"
            required
            class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>

        <div class="mb-3">
          <label for="image">Images</label>
          <input
            type="file"
            @change="addImage"
            multiple
            id="image"
            placeholder="e.g A short and comprehensive description of its location"
            required
            class="w-full p-3.5 border-b-4 bg-white border-black outline-none focus:outline-none"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="Description">Description</label>
        <textarea
          id="Description"
          v-model="form.description"
          placeholder="e.g A short and comprehensive description of its location"
          required
          class="w-full p-4 border-b-4 bg-white border-black outline-none focus:outline-none resize-none"
          rows="6"
        ></textarea>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <button
          :disabled="store.isLoading == true"
          class="w-full p-3.5 bg-orange-500 rounded-md text-white"
          :class="store.isLoading == true ? 'disabled:bg-gray-400' : ''"
        >
          <span v-if="store.isLoading != true">Upload Villa</span>
          <span v-else>loading...</span>
        </button>
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref } from 'vue'

import { useProjectStore } from '@/stores/projects'

const store = useProjectStore()
const form = reactive({
  images: [],
  title: '',
  features: '',
  price: '',
  location: '',
  bedroom: '',
  bathroom: '',
  kitchen: '',
  squaremeters: '',
  type: 'villa',
  description: ''
})
function ClearForm(){
  form.bathroom = ""
  form.features = ""
  form.bedroom = ""
  form.squaremeters = ""
  form.kitchen = ""
  form.location = ""
  form.price = ""
  form.description = ""
  form.title = ""
}

const f = ref<HTMLInputElement | null>(null)
const addImage = (e: any) => {
  form.images = e.target.files
}

async function createVilla() {
  await store.createVilla(form)
  ClearForm()
//  clear form
}
</script>
